<!-- homepage.html -->
{% extends "post/base.html" %}
{% block title %} Video Example {% endblock %}
{% block tvname %} {{ tv.name }} {% endblock %}
{% block menu %}
    <ul class='nav navbar-nav'>
        <li class='active'><a href='/'>Home</a></li>
        {% for t in tv_list %}
        <li>
            <a href='{% url "tv-url" forloop.counter0 %}'>
                {{ t.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block content %}
<div class='container'>
    <div id='tvcode' align='center'>
<embed height="415" width="544" quality="high" allowfullscreen="true" type="application/x-shockwave-flash" src="//static.hdslb.com/miniloader.swf" flashvars="{{tv.tvcode}}" pluginspage="//www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"></embed>
    </div>
</div>
{% endblock %}
